body {
  background-color: rgb(250, 250, 250);
}

.layout-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.country {
  border:black
}

.card {
  border: black;
  border: 10px;
}

.site-card-wrapper {
  display: flex;
  flex-direction: row;
  padding: 30px;
  background: #ececec;
}